@import "../gridSizes.scss";

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row.reverse {
  flex-direction: row-reverse;
}
