{
  "presets": [
    "react",
    "stage-1",
    ["es2015", { "modules": false, "loose": true }]
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-runtime"
      ]
    }
  }
}
